<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/styles.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <h2>ReCommerce</h2>
        </div>
        <div class="nav-links">
            <p>Welcome, {{ user.username }}!<p>
            
            <!-- Profile Icon -->
            <a href="{% url 'profile' %}" class="profile-icon">
                <i class="fas fa-user-circle"></i>
            </a>

            <!-- Logout Icon -->
            <form method="POST" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </nav>

</body>
</html>
