<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Set New Password</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    </div>
</body>
</html>
