<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Password Reset Link Sent</h1>
        <p>We have sent an email with instructions to reset your password.</p>
        <p><a href="{% url 'login' %}">Back to Login</a></p>
    </div>
</body>
</html>
